{% extends 'base.html' %}

{% block title %}{% if "edit" in request.path %}Редактирование заказа{% else %}Создание заказа{% endif %}{% endblock title %}

{% block content %}

{% load order_tag %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card border-warning">
            <h4 class="card-header text-center">
                {% if "edit" in request.path %}Редактирование заказа{% else %}Создание заказа{% endif %}
            </h4>
            <div class="card-body">
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endif %}

                <form method="post" class="" action="{% if active_url %}{{ active_url }}{% endif %}">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row my-3 p-3">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.field.required %}
                            <span class="required text-danger">*</span>
                            {% endif %}
                        </label>
                        {{ field|addclass:'form-control' }}
                        {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                            {{ field.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <div class="text-center">
                        <h3 class="m-3">Позиции заказа:</h3>

                        {{ formset.management_form }}
                        {% if formset.errors %}
                        {% for error in formset.errors %}
                        {% if error %}
                        {% for field in error.values %}
                        {% for f in field %}
                        <div class="alert alert-danger">
                            {{ f|escape }}
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        {% for error in formset.non_form_errors %}
                        <div class="alert alert-danger">
                            {{ error|escape }}
                        </div>
                        {% endfor %}

                        {% for form in formset %}
                        {{ form.id }}
                        <div class="row gx-3 gy-2 align-items-center justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="form-check">
                                    {% if form.dish.field.required and forloop.counter0 == 0 %}
                                    <span class="required text-danger">*</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="visually-hidden" for="{{ form.dish.field.id_for_label }}">
                                    {{ form.dish.label }}
                                    {% if form.dish.field.required and forloop.counter0 == 0 %}
                                    <span class="required text-danger">*</span>
                                    {% endif %}
                                </label>
                                {{ form.dish|addclass:'form-select' }}
                            </div>
                            <div class="col-sm-3">
                                <label class="visually-hidden" for="{{ form.quantity.field.id_for_label }}">{{ form.quantity.label }}</label>
                                {{ form.quantity|addclass:'form-control' }}
                            </div>
                            {% if formset.can_delete %}
                            <div class="col-auto">
                                <div class="form-check">
                                    {{ form.DELETE|addclass:'form-check-input' }}
                                    <label class="form-check-label" for="{{ form.DELETE.id_for_label }}">Удалить</label>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-6 offset-md-4 text-center mx-auto">
                        <button type="submit" class="btn btn-warning">
                            {% if "edit" in request.path %}Обновить{% else %}Создать{% endif %}
                        </button>
                    </div>
                </form>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock content %}