{% extends 'base.html' %}

{% block title %}Список заказов{% endblock title %}

{% block content %}
{% load order_tag %}
<div class="container mt-2">
    <h3>{% if request.GET.table_number %}Столик {{ request.GET.table_number }}{% else %}Все заказы{% endif %}: <span class="badge bg-secondary">{{ object_list|length }}</span> заказов</h3>
    <div>
        <ul class="nav nav-pills nav-fill mb-2 border rounded-3 border-warning">
            <li class="nav-item">
                <a class="nav-link {% if not request.GET.status %}active bg-warning{% endif %}" aria-current="page" href="{% url 'orders:order_list' %}?table_number={{ request.GET.table_number }}">Все
                    заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.GET.status == 'PENDING' %}active bg-warning{% endif %}" aria-current="page"
                    href="{% url 'orders:order_list' %}?status=PENDING&table_number={{ request.GET.table_number }}"><span class="badge text-bg-warning">В ожидании</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.GET.status == 'READY' %}active bg-warning{% endif %}" href="{% url 'orders:order_list' %}?status=READY&table_number={{ request.GET.table_number }}"><span
                        class="badge text-bg-danger">Готово</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.GET.status == 'PAID' %}active bg-warning{% endif %}" href="{% url 'orders:order_list' %}?status=PAID&table_number={{ request.GET.table_number }}"><span
                        class="badge text-bg-success">Оплачено</span></a>
            </li>
        </ul>
    </div>
    <table class="table table-striped table-bordered border-warning">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Номер стола</th>
                <th scope="col">Список блюд</th>
                <th scope="col">Общая стоимость</th>
                <th scope="col">Статус</th>
                <th scope="col">Удалить</th>
            </tr>
        </thead>
        <tbody>

            {% for order in object_list %}
            <tr>
                <th scope="row"><a href="{% url 'orders:order_edit' order.id %}">{{ order.id }}</a></th>
                <td><a class="fs-5 link-underline link-underline-opacity-0 link-warning link-underline-opacity-75-hover"
                        href="{% url 'orders:order_list' %}?table_number={{ order.table_number }}">{{ order.table_number }}</a></td>
                <td>
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Стоимость</th>
                                <th scope="col">Количество</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <th scope="col">{{ item.dish.name }} </th>
                                <th scope="col">{{ item.price }} </th>
                                <th scope="col">{{ item.quantity }} </th>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>{{ order.get_total_price }} </td>
                <td class="align-middle">
                    <form class="align-items-center" action="{% url 'orders:order_update_status' order.id %}" method="post" style="width: auto;">
                        {% csrf_token %}
                        <div class="input-group">
                            <select name="status" class="form-select text-bg-{% if order.status == 'PAID' %}success{% elif order.status == 'READY' %}danger {% else %}warning{% endif %}"
                                id="order_{{ order.id }}" aria-label="Пример элемента выбора с помощью надстройки кнопки">
                                <option value="PENDING" {% if order.status == 'PENDING' %}selected{% endif %}>В ожидании</option>

                                <option value="READY" {% if order.status == 'READY' %}selected{% endif %}>Готово</option>

                                <option value="PAID" {% if order.status == 'PAID' %}selected{% endif %}>Оплачено</option>
                            </select>
                            <button type="submit" class="btn btn-primary" type="button">Обновить</button>
                        </div>
                        {% comment %} <div class="input-group">
                            {% if order.status == 'Оплачено' %}
                            {{ form_status.status|add_selected:order.status|addclass:'form-select text-bg-success' }}
                            {% elif order.status == 'Готово' %}
                            {{ form_status.status|addclass:'form-select text-bg-danger' }}
                            {% else %}
                            {{ form_status.status|addclass:'form-select text-bg-warning' }}
                            {% endif %}
                            <button type="submit" class="btn btn-primary" type="button">Обновить</button>
                        </div> {% endcomment %}
                    </form>
                </td>
                <td class="align-middle text-center">
                    <form class="" action="{% url 'orders:order_delete' order.id %}" method="post" style="width: auto;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<div class="my-5 d-flex justify-content-center">
    {% include 'includes/pagination.html' %}
</div>
{% endblock content %}